#layout-footer{
    color: white;
    a{
        color: white;
        text-decoration: none;
    }

    background: grey;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-start;

    .footer-nav{
        ul{
            list-style: none;
        }
    }
}

// footer{
//     display: flex;
//     align-items: center;
//      justify-content: space-around;
//     height: 10vh;
//     color: white;
//     div{
//         a{
//             color: whitesmoke;
//             font-weight: 900;

//         }
//         a:hover{
//             color:white
//         }
//     }
//     .menu-below{
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         width: 132px;
//     }
// }
